html,
body {
  width: 100%;
  height: 100%;
  background-color: #2c2c2c;
}
html #root,
body #root {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.container,
.container-fluid {
  background-color: transparent;
  padding: 0;
}

.bg-body-tertiary {
  background-color: transparent !important;
}

.navbar-collapse {
  justify-content: end;
}

.navbar-brand {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: "Bahnschrift";
}

.nav-link {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-family: "Bahnschrift";
}

.indexPage {
  width: 100%;
}
.indexPage .appColum-1 {
  background: linear-gradient(0deg, rgb(29, 29, 29) 0%, rgb(79, 79, 79) 100%, rgb(79, 79, 79) 100%);
  width: 100%;
  height: 600px;
}

.appMargin {
  margin-top: 40px;
}

.appRow {
  justify-content: space-between;
  flex-wrap: wrap;
}
.appRow .col {
  flex: none;
  margin-top: 40px;
}

.col {
  font-size: 30px;
  font-family: "Bahnschrift";
  color: rgb(255, 255, 255);
}

.card {
  background-color: #282828;
  width: 318px;
  height: 352px;
}